.Footer {
    padding: 0;
    background-color: white;
    margin: 0 auto;
}

.Media {
    border-radius: 10%; 
    margin-bottom: 1rem;
}

.Image {
    border-radius: 10%; 
}

@media screen and (min-width: 575px){

    .Media {
        line-height: 20vh;
        overflow: hidden;
    }
    
    .Image {
        margin:-100%;
    }
}

@media screen and (min-width: 750px){
    
    .Media {
        height: 20vh;
        line-height: 20vh;
    }
}