.ColFlex {
    padding: 3rem 3rem 1rem;
    position: relative;
}

.ColFlexFooter {
    padding: 0 1rem 2rem;
}

.Image {
    padding-top: 1rem;
    border-radius: 10%;
}

.Title {
    margin: 4rem 0;
}

.Date {
    margin-top: 3rem;
    font-size: 25px;
}

.Author {
    font-size: 25px;
}

@media screen and (max-width: 990px) {

    .ColFlex, .ColFlexFooter {
        flex-basis: auto;
    }    
}

@media screen and (max-width: 575px) {
    
    .ColFlex {
        padding: 2rem;
    }
    
}

