.Author {
    font-size: 25px;
}

.ColFlex {
    padding: 3rem 3rem 1rem;
    position: relative;
}

.ColFlexFooter {
    padding: 0 1rem 2rem;
}

.Date {
    margin-top: 3rem;
    font-size: 25px;
}

.Image {
    padding-top: 1rem;
    border-radius: 10%;
}

.Title {
    margin: 4rem 0;
}

.PostColForm {
    border: 0.5px solid rgb(230,230,230);
    box-shadow: 5px 4px 4px #aaaaaa;
    background-color: white;
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
}

@media screen and (max-width: 990px) {

    .ColFlex, .ColFlexFooter {
        flex-basis: auto;
    }    
}

@media screen and (max-width: 575px) {
    
    .ColFlex {
        padding: 2rem;
    }
}