.ColFlex {
    padding: 3rem 4rem 1rem;
    position: relative;
}

.ColFlexFooter {
    padding: 0 1rem 2rem;
}

.Fluid {
    padding-top: 1rem;
}

.Title {
    margin: 4rem 0;
}

.Date {
    margin-top: 3rem;
    font-size: 25px;
}

.Author {
    font-size: 25px;
}

@media screen and (max-width: 990px) {

    .ColFlex, .ColFlexFooter {
        flex-basis: auto;
    }

    .Fluid {
        max-width: unset !important;
        width: 100%;
        padding-top: 0;
    }
    
}

@media screen and (max-width: 575px) {
    
    .ColFlex {
        padding: 2rem;
    }
    
}

