.App {
    height: 100%;
    min-height: 100vh;
    text-align: center;
    background-color:blanchedalmond;
    font-family: 'Caveat', cursive;   
    font-weight: bold; 
}

::placeholder {
    font-size: 20px;
}

p {
    font-size: 20px;
}

a {
    color: black;
    font-size: 20px;
}

a:hover {
    color:red;
    text-decoration: none;
}

footer {
    line-height: 4rem;
    text-align: center;
}

.RowMargin {
    margin-top: 5vh;
}

.ColImage {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
    box-shadow: 10px 5px 5px #aaaaaa;
    background-color: white;
}

.FormImage {
    width: 100%;   
}

.ColForm {
    border: 0.5px  solid #aaaaaa ;
    box-shadow: 10px 5px 5px #aaaaaa;
    background-color: white;
    padding: 0;
    width: 100%;
}

.FormHeader {
    margin: 6rem;
}

.FormGroup {
    margin: 40px 30px;
}

.FormButton {
    margin: 40px 30px;
}

.PreviewImage {
    max-width: 500px;
    max-height: 500px;
}

.CardImage {
    max-width: 400px;

}

.CardStyle {
    min-width: 30%;
    max-width: 30%;
    margin: 2rem;
}

.ContentColumns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    height: fit-content;
    font-size: 20px;
    font-family: 'Kalam', cursive;
    padding: 2rem;
}   

/* Code Credit: https://css-tricks.com/examples/hrs/ */
hr {
    overflow: visible; 
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: '¤ * ¤ * ¤ * ¤';
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
/* end code credit*/

@media screen and (max-width: 750px) {
    .CardStyle {
        min-width: 50%;
        max-width: 50%;
    }
}


@media screen and (max-width: 575px) {
    .ColImage, .PreviewImage {
        min-width: 85vw;
        max-width: 85vw;
    }

    .FormHeader {
        margin: 3rem;
    }

    .ContentColumns {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        padding: 1rem;
    }

    .CardStyle {
        min-width: 85%;
        max-width: 85%;
    }
}